@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/static/Cormorant-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/static/Cormorant-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/static/Cormorant-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant';
  src: url('../fonts/Cormorant/static/Cormorant-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Add more font weights/styles as needed */
