@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }
}

html {
  @apply dark:bg-gray-600 dark:text-white bg-gray-50 text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cormorant, serif;
}

.main {
  @apply max-w-[450mm];
}

.page-book {
  font-family: Cormorant, serif;
  min-width: 152.4mm;
  width: 152.4mm;
  max-width: 152.4mm;
  min-height: 228.6mm;
  height: 228.6mm;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.page {
  font-family: Cormorant, serif;
  color: black;
  background: white;
  padding: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;

  footer {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 80px);
    text-align: center;
  }
}

.page:not(:last-of-type) {
  page-break-after: always;
}

@media print {
  html, body {
    background: transparent;
  }
  .page {
    margin: 0;
    border: none;
    width: 152.4mm;
    height: 228.6mm;
  }

  .no-print, .no-print * {
    display: none !important;
  }
}